.mantine-ScrollArea-root {
    @include fluidType(height, 320px, 700px, 450px, 850px);
}

.tasks_list {
    display: table;
    max-width: 98%;
    margin: 0 auto 100px auto;

    & a {
        color: clr(colorPalette, fadedWhite);
        text-decoration: none;
    }

    & .title,
    .description,
    .category,
    .completed,
    .viewTask {
        display: table-cell;
    }

    & .viewTask:hover {
        text-decoration: underline;
    }

    & .viewTask,
    .completed {
        max-width: 75px;
        text-align: center;
    }

    & .mantine-Checkbox-root {
        display: flex;
        justify-content: center;
    }

    & .mantine-Checkbox-input {
        background-color: clr(colorPalette, fadedWhite);

        &:checked {
            background-color: clr(colorPalette, brightPurple);
            border: clr(colorPalette, brightPurple);
        }
    }

    & .category,
    .description,
    .completed {
        display: none;
    }

    @media (min-width: 600px) {
        & .description {
            display: table-cell;
        }
    }

    @media (min-width: 700px) {
        margin-bottom: 0px;
        & .completed {
            display: table-cell;
        }
    }

    @media (min-width: 1000px) {
        margin-bottom: 0px;
        & .category {
            display: table-cell;
        }
    }
}

.error_message {
    text-align: center;
    padding: 20px 0;
}
