.tasks_list {
    display: table;
    max-width: 98%;
    margin: 0 auto 100px auto;

    & .priority,
    .description {
        display: none;
    }

    @media (min-width: 500px) {
        & .description {
            display: block;
        }
    }

    @media (min-width: 700px) {
        margin-bottom: 0px;
        & .priority {
            display: block;
        }
    }
}
