.tasks_list {
    display: table;
    table-layout: fixed;
    max-width: 98%;
    margin: 0 auto 0 auto;

    & a {
        color: clr(colorPalette, fadedWhite);
        text-decoration: none;
        max-width: 120px;
        margin: 0 auto;
    }

    & .title,
    .description,
    .category,
    .completed,
    .viewTask {
        display: table-cell;
    }

    & .viewTask,
    .completed {
        text-align: center;
    }

    & .category,
    .description,
    .completed {
        display: none;
    }

    @media (min-width: 600px) {
        & .description {
            display: table-cell;
        }
    }

    @media (min-width: 700px) {
        margin-bottom: 0px;
        & .completed {
            display: table-cell;
        }
    }

    @media (min-width: 1000px) {
        margin-bottom: 0px;
        & .category {
            display: table-cell;
        }
    }
}

.error_message {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    background-color: clr(colorPalette, fadedBlack);
}
