.register_page_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/onboarding_bg.jpg");
    background-size: cover;

    & .go_back_link_cta {
        position: absolute;
        top: 20px;
        left: 20px;
        margin-right: auto;
        border: 1px solid clr(colorPalette, purple);

        &:hover {
            background-color: clr(colorPalette, fadedPurple);
        }
    }

    & .register_form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: clr(colorPalette, fadedBlack);

        & .form-control-container {
            width: 90%;
            max-width: 400px;
            margin: 10px 0;
        }

        & .submit_btn_flex_container {
            display: flex;
            justify-content: end;
            width: 90%;
            max-width: 400px;
            margin-top: 40px;

            & .form_submit_btn {
                width: 100%;
                background-color: clr(colorPalette, purple);

                &:hover {
                    background-color: clr(colorPalette, fadedPurple);
                }
            }

            & .form_submit_btn[disabled] {
                background-color: clr(colorPalette, gray);
            }
        }
    }
}
