.register_page_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-image: url("../assets/onboarding_bg.jpg");
    background-size: cover;

    & .prev_page--link {
        color: #fff;
        text-decoration: none;
        margin-right: auto;

        & svg {
            font-size: 25px;
        }
    }

    & .register_container {
        height: 90%;
        width: 90%;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.702);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 4px;
    }

    & .register_user--form {
        & fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            margin: 20px 0;

            & label {
                padding-bottom: 5px;
            }

            & input {
                width: auto;
                min-width: 320px;
                height: 48px;
                padding-left: 5px;
                color: #fff;
                border: 1px solid #979797;
                background-color: #12121280;
                margin: 10px 0;
                font-size: 16px;
            }
        }

        & button {
            width: auto;
            min-width: 320px;
            height: 48px;
            color: #fff;
            background-color: #8687e7;
            border: none;
            margin-top: 10px;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.5s ease;
            font-size: 18px;

            &:hover {
                background-color: #7a7ce5;
            }
        }
    }
}
