.viewTask_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .task_view {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        background-color: clr(colorPalette, fadedBlack);

        & p {
            margin: 20px 0;
        }

        & .task_actions {
            display: flex;

            & button {
                margin: 0px 5px;
            }
        }
    }
}
