$colorMap: (
    colorPalette: (
        black: #121212,
        fadedBlack: #25262b, 
        backgroundBlack: #1A1B1E,
        warningRed: #a31d00,
        fadedWarningRed: #951c01,
        plainGray: #979797,
        white: #ffffffde,
        brightPurple: #8687e7,
        fadedPurple: rgba(134, 135, 231, 0.8)
    ),
    groceries: (
        background: #ccff80,
        fontColor: #21a300,
    ),
    Work: (
        background: #ff9680,
        fontColor: #a31d00,
    ),
    Home: (
        background: #ffcc80,
        fontColor: #a36200,
    ),
    Health: (
        background: #80ffa3,
        fontColor: #00a3a3,
    ),
    University: (
        background: #809cff,
        fontColor: #0055a3,
    ),
    Movies: (
        background: #80d1ff,
        fontColor: #0069a3,
    ),
    Music: (
        background: #fc80ff,
        fontColor: #a000a3,
    ),
);

@function clr($palette, $color) {
    $color: map-get(map-get($colorMap, $palette), $color);
    @return $color;
}
