a,
button,
Button {
    cursor: pointer;
}

//- Styling classes
.color_transition {
    transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.link,
.form_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    @include fluidType(width, 320px, 700px, 200px, 300px);
    height: 38px;
    text-transform: capitalize;
    @include fluidType(font-size, 320px, 700px, 16px, 18px);
}

.filled {
    background-color: clr(colorPalette, fadedPurple);

    &:hover {
        background-color: clr(colorPalette, brightPurple);
    }
}

.outline {
    background-color: transparent;
    border: 1px solid clr(colorPalette, fadedPurple);

    &:hover {
        background-color: clr(colorPalette, brightPurple);
    }
}

.hover {
    background-color: transparent;

    &:hover {
        background-color: clr(colorPalette, fadedPurple);
    }
}

.edit_btn {
    color: clr(colorPalette, fadedWhite);

    &:hover {
        color: clr(colorPalette, brightPurple);
        transform: scale(1.1);
    }
}

.warning {
    background-color: clr(colorPalette, fadedWarningRed);

    &:hover {
        background-color: clr(colorPalette, warningRed);
    }
}
