a,
button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: clr(colorPalette, fadedWhite);
}

img{
    width: 20px;
    height: 20px;
}

//- Styling classes
.color_transition {
    transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.header_btn {
    width: 80px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
}

.viewTask_btn {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: clr(colorPalette, fadedWhite);
}


.form_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 300px;
    height: 38px;
    text-transform: capitalize;
}

button:disabled{
    background-color: clr(colorPalette, plainGray);
    cursor: not-allowed;

    &:hover{
        background-color: clr(colorPalette, plainGray);
    }
}

.filled {
    background-color: clr(colorPalette, fadedPurple);

    &:hover {
        background-color: clr(colorPalette, brightPurple);
    }
}

.outline {
    background-color: transparent;
    border: 1px solid clr(colorPalette, fadedPurple);

    &:hover {
        background-color: clr(colorPalette, brightPurple);
    }
}

.hover {
    background-color: transparent;

    &:hover {
        background-color: clr(colorPalette, fadedPurple);
    }
}

.edit_btn {
    color: clr(colorPalette, fadedWhite);

    &:hover {
        color: clr(colorPalette, brightPurple);
    }
}

.warning {
    background-color: clr(colorPalette, fadedWarningRed);

    &:hover {
        background-color: clr(colorPalette, warningRed);
    }
}
