.login_page_container,
.register_page_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .login_btn,
    .register_btn {
        opacity: 0;
        transform: translateY(50px);
    }
}

.return_btn {
    position: absolute;
    @include fluidType(top, 320px, 700px, 10px, 30px);
    @include fluidType(left, 320px, 700px, 10px, 30px);
    cursor: pointer;
}

.outer-login_flex_container,
.outer-register_flex_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

    & .name_input,
    .username_input,
    .password_input {
        opacity: 0;
        transform: translateY(50px);
        @include fluidType(width, 320px, 700px, 200px, 300px);
    }
}

.outer-login_flex_container,
.outer-register_flex_container {
    min-height: 200px;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

fieldset {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 20px;

    @media (min-width: 900px) {
        margin-bottom: 0px;
    }
}

label {
    margin-bottom: 5px;
}

input,
textarea,
select {
    height: 38px;
    @include fluidType(width, 320px, 700px, 300px, 400px);
    padding-left: 5px;
    color: clr(colorPalette, fadedWhite);
    background-color: clr(colorPalette, fadedBlack);
}

textarea {
    @include fluidType(height, 320px, 700px, 200px, 300px);
    resize: none;
    padding-top: 5px;
}

//- seperated the add & edit task forms as it requires flex styling to accomodate the addtional inputs

.edit_task_form_container, .add_task_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 700px;

    @media (min-width: 900px) {
        min-height: auto;
    }
}

.addTaskForm,
.editTaskForm {
    width: 90%;
    height: 80vh;
    min-height: 650px;
    flex-direction: column;

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .form_btn_group {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            margin-left: auto;
            @include fluidType(margin-top, 320px, 800px, 50px, 0px);

            & Button {
                border-radius: 0px;
                margin: 5px 0;
            }
        }
    }

    @media (min-width: 900px) {
        flex-direction: row;
        min-height: 450px;

        section {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
    }
}
