.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    @include fluidType(height, 320px, 700px, 50px, 75px);
    @include fluidType(padding-left, 320px, 700px, 10px, 20px);
    @include fluidType(padding-right, 320px, 700px, 10px, 20px);

    & .nav-button_group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
    }
}
