.app_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fluidType(padding, 375px, 900px, 10px, 20px);

    & .page_title {
        display: none;

        @media (min-width: 500px) {
            display: block;
        }
    }

    & .menu_btn,
    .profile_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        background-color: transparent;
    }

    & .menu_modal {
        background-color: #363636;
        border: none;

        & .mantine-Menu-label {
            color: #fff;
        }

        & .mantine-Menu-item {
            color: #fff;

            &[data-hovered] {
                color: #8687e7;
                background-color: #404040;
            }
        }

        & .delete_account {
            color: red;

            & svg {
                color: #fff;
            }

            &[data-hovered] {
                color: #fff;
                background-color: rgba(255, 0, 0, 0.5);
            }
        }
    }

    & svg {
        cursor: pointer;
        font-size: 25px;
    }
}
