.tasks_list {
    display: table;
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 98%;
    max-height: 450px;
    border-spacing: 0;
    border-collapse: collapse;

    & thead tr th {
        padding: 20px 0 20px 5px;
        text-align: left;
    }

    & tbody {
        & .tableContent_row {
            &:nth-child(odd) {
                transition: all 0.2s ease;
                background-color: clr(colorPalette, fadedBlack);

                &:hover {
                    background-color: clr(colorPalette, tableHover);
                }
            }

            &:nth-child(even) {
                transition: all 0.2s ease;
                &:hover {
                    background-color: clr(colorPalette, tableHover);
                }
            }

            & td {
                padding: 20px 0 20px 5px;
            }
        }
    }

    & .title,
    .description,
    .category,
    .completed,
    .viewTask {
        display: table-cell;
    }

    & .viewTask,
    .completed {
        text-align: center;
    }

    & .category,
    .description,
    .completed {
        display: none;
    }

    @media (min-width: 600px) {
        & .description {
            display: table-cell;
        }
    }

    @media (min-width: 700px) {
        margin-bottom: 0px;
        & .completed {
            display: table-cell;
        }
    }

    @media (min-width: 1000px) {
        margin-bottom: 0px;
        & .category {
            display: table-cell;
        }
    }

    a {
        color: clr(colorPalette, fadedWhite);
        text-decoration: none;
        max-width: 120px;
        margin: 0 auto;
    }
}

.error_message {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    background-color: clr(colorPalette, fadedBlack);
}
