.tasks_list{
    list-style: none;

    & .task_listItem{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    @media (min-width: 700px) {
        width: 50%;
    }
}