.onboarding_bg_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/onboarding_bg.jpg");
  background-size: cover;
}
.onboarding_bg_container .onboarding_sign-in_options {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.7);
}
.onboarding_bg_container .onboarding_sign-in_options h1 {
  font-size: 30px;
}
@media screen and (min-width: 375px) {
  .onboarding_bg_container .onboarding_sign-in_options h1 {
    font-size: calc(3.8095238095vw + 15.7142857143px);
  }
}
@media screen and (min-width: 900px) {
  .onboarding_bg_container .onboarding_sign-in_options h1 {
    font-size: 50px;
  }
}
.onboarding_bg_container .onboarding_sign-in_options p {
  max-width: 300px;
  text-align: center;
}
@media (min-width: 500px) {
  .onboarding_bg_container .onboarding_sign-in_options {
    width: 90%;
    height: 90%;
  }
}

.register_page_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-image: url("../assets/onboarding_bg.jpg");
  background-size: cover;
}
.register_page_container .prev_page--link {
  color: #fff;
  text-decoration: none;
  margin-right: auto;
}
.register_page_container .prev_page--link svg {
  font-size: 25px;
}
.register_page_container .register_container {
  height: 90%;
  width: 90%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.702);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
}
.register_page_container .register_user--form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 20px 0;
}
.register_page_container .register_user--form fieldset label {
  padding-bottom: 5px;
}
.register_page_container .register_user--form fieldset input {
  width: auto;
  min-width: 320px;
  height: 48px;
  padding-left: 5px;
  color: #fff;
  border: 1px solid #979797;
  background-color: rgba(18, 18, 18, 0.5019607843);
  margin: 10px 0;
  font-size: 16px;
}
.register_page_container .register_user--form button {
  width: auto;
  min-width: 320px;
  height: 48px;
  color: #fff;
  background-color: #8687e7;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 18px;
}
.register_page_container .register_user--form button:hover {
  background-color: #7a7ce5;
}

.login_page_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-image: url("../assets/onboarding_bg.jpg");
  background-size: cover;
}
.login_page_container .prev_page--link {
  color: #fff;
  text-decoration: none;
  margin-right: auto;
}
.login_page_container .prev_page--link svg {
  font-size: 25px;
}
.login_page_container .login_container {
  height: 90%;
  width: 90%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
}
.login_page_container .login_user--form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 20px 0;
}
.login_page_container .login_user--form fieldset label {
  padding-bottom: 5px;
}
.login_page_container .login_user--form fieldset input {
  width: auto;
  min-width: 320px;
  height: 48px;
  padding-left: 5px;
  color: #fff;
  border: 1px solid #979797;
  background-color: rgba(18, 18, 18, 0.5019607843);
  margin: 10px 0;
  font-size: 16px;
}
.login_page_container .login_user--form button {
  width: auto;
  min-width: 320px;
  height: 48px;
  color: #fff;
  background-color: #8687e7;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 18px;
}
.login_page_container .login_user--form button:hover {
  background-color: #7a7ce5;
}

.dashboard {
  position: relative;
  width: 100%;
  background-color: #121212;
}
.dashboard table {
  width: 100%;
  color: #fff;
}
.dashboard table tr:nth-child(odd) {
  background-color: #404040;
}
.dashboard table tr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dashboard table td {
  flex-grow: 1;
}
.dashboard table .task_category {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.dashboard table .task_category .mantine-Badge-root {
  margin: 3px 0px;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_header {
  padding: 10px;
}
@media screen and (min-width: 375px) {
  .app_header {
    padding: calc(1.9047619048vw + 2.8571428571px);
  }
}
@media screen and (min-width: 900px) {
  .app_header {
    padding: 20px;
  }
}
.app_header .page_title {
  display: none;
}
@media (min-width: 500px) {
  .app_header .page_title {
    display: block;
  }
}
.app_header .menu_btn,
.app_header .profile_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  background-color: transparent;
}
.app_header .menu_modal {
  background-color: #363636;
  border: none;
}
.app_header .menu_modal .mantine-Menu-label {
  color: #fff;
}
.app_header .menu_modal .mantine-Menu-item {
  color: #fff;
}
.app_header .menu_modal .mantine-Menu-item[data-hovered] {
  color: #8687e7;
  background-color: #404040;
}
.app_header .menu_modal .delete_account {
  color: red;
}
.app_header .menu_modal .delete_account svg {
  color: #fff;
}
.app_header .menu_modal .delete_account[data-hovered] {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.5);
}
.app_header svg {
  cursor: pointer;
  font-size: 25px;
}

.login_cta,
.register_cta {
  min-width: 300px;
  height: 40px;
  margin: 20px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.login_cta {
  background-color: #8687e7;
  color: #fff;
}
.login_cta:hover {
  filter: brightness(110%);
}

.register_cta {
  background-color: transparent;
  color: #fff;
  border: 1px solid #8687e7;
}
.register_cta:hover {
  border-width: 2px;
}

.login_form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/onboarding_bg.jpg");
  background-size: cover;
}
.login_form .login_bg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.7);
}
.login_form .login_bg fieldset {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border: none;
  margin: 20px 0px;
}
.login_form .login_bg fieldset label, .login_form .login_bg fieldset input {
  width: 300px;
  height: 40px;
}
.login_form .login_bg fieldset input {
  background-color: transparent;
  border: 1px solid #fff;
  padding-left: 5px;
  color: #fff;
}
.login_form .login_bg fieldset input::-moz-placeholder {
  color: #fff;
}
.login_form .login_bg fieldset input::placeholder {
  color: #fff;
}
@media (min-width: 500px) {
  .login_form .login_bg {
    width: 90%;
    height: 90%;
  }
}/*# sourceMappingURL=main.css.map */