.onboarding_bg_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.onboarding_bg_container .onboarding_message {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  max-width: 700px;
  text-align: center;
}
.onboarding_bg_container .onboarding_message h1 {
  opacity: 0;
  transform: translateY(50px);
}
.onboarding_bg_container .onboarding_message h1 {
  font-size: 30px;
}
@media screen and (min-width: 320px) {
  .onboarding_bg_container .onboarding_message h1 {
    font-size: calc(3.9473684211vw + 17.3684210526px);
  }
}
@media screen and (min-width: 700px) {
  .onboarding_bg_container .onboarding_message h1 {
    font-size: 45px;
  }
}
.onboarding_bg_container .onboarding_message p {
  opacity: 0;
  transform: translateY(50px);
}
.onboarding_bg_container .onboarding_sign-in_options {
  min-height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(50px);
}

a,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #c1c2c5;
}

img {
  width: 20px;
  height: 20px;
}

.color_transition {
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.header_btn {
  width: 80px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
}

.viewTask_btn {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  color: #c1c2c5;
}

.form_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 300px;
  height: 38px;
  text-transform: capitalize;
}

button:disabled {
  background-color: #979797;
  cursor: not-allowed;
}
button:disabled:hover {
  background-color: #979797;
}

.filled {
  background-color: rgba(134, 135, 231, 0.8);
}
.filled:hover {
  background-color: #8687e7;
}

.outline {
  background-color: transparent;
  border: 1px solid rgba(134, 135, 231, 0.8);
}
.outline:hover {
  background-color: #8687e7;
}

.hover {
  background-color: transparent;
}
.hover:hover {
  background-color: rgba(134, 135, 231, 0.8);
}

.edit_btn {
  color: #c1c2c5;
}
.edit_btn:hover {
  color: #8687e7;
}

.warning {
  background-color: #951c01;
}
.warning:hover {
  background-color: #a31d00;
}

.login_page_container,
.register_page_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_page_container .login_btn,
.login_page_container .register_btn,
.register_page_container .login_btn,
.register_page_container .register_btn {
  opacity: 0;
  transform: translateY(50px);
}
.login_page_container input,
.register_page_container input {
  width: 200px;
}
@media screen and (min-width: 320px) {
  .login_page_container input,
  .register_page_container input {
    width: calc(26.3157894737vw + 115.7894736842px);
  }
}
@media screen and (min-width: 700px) {
  .login_page_container input,
  .register_page_container input {
    width: 300px;
  }
}
.login_page_container .outer-login_flex_container,
.login_page_container .outer-register_flex_container,
.register_page_container .outer-login_flex_container,
.register_page_container .outer-register_flex_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  min-height: 200px;
}
.login_page_container .outer-login_flex_container .name_input,
.login_page_container .outer-login_flex_container .username_input,
.login_page_container .outer-login_flex_container .password_input,
.login_page_container .outer-register_flex_container .name_input,
.login_page_container .outer-register_flex_container .username_input,
.login_page_container .outer-register_flex_container .password_input,
.register_page_container .outer-login_flex_container .name_input,
.register_page_container .outer-login_flex_container .username_input,
.register_page_container .outer-login_flex_container .password_input,
.register_page_container .outer-register_flex_container .name_input,
.register_page_container .outer-register_flex_container .username_input,
.register_page_container .outer-register_flex_container .password_input {
  opacity: 0;
  transform: translateY(50px);
}
.login_page_container .outer-login_flex_container .name_input,
.login_page_container .outer-login_flex_container .username_input,
.login_page_container .outer-login_flex_container .password_input,
.login_page_container .outer-register_flex_container .name_input,
.login_page_container .outer-register_flex_container .username_input,
.login_page_container .outer-register_flex_container .password_input,
.register_page_container .outer-login_flex_container .name_input,
.register_page_container .outer-login_flex_container .username_input,
.register_page_container .outer-login_flex_container .password_input,
.register_page_container .outer-register_flex_container .name_input,
.register_page_container .outer-register_flex_container .username_input,
.register_page_container .outer-register_flex_container .password_input {
  width: 200px;
}
@media screen and (min-width: 320px) {
  .login_page_container .outer-login_flex_container .name_input,
  .login_page_container .outer-login_flex_container .username_input,
  .login_page_container .outer-login_flex_container .password_input,
  .login_page_container .outer-register_flex_container .name_input,
  .login_page_container .outer-register_flex_container .username_input,
  .login_page_container .outer-register_flex_container .password_input,
  .register_page_container .outer-login_flex_container .name_input,
  .register_page_container .outer-login_flex_container .username_input,
  .register_page_container .outer-login_flex_container .password_input,
  .register_page_container .outer-register_flex_container .name_input,
  .register_page_container .outer-register_flex_container .username_input,
  .register_page_container .outer-register_flex_container .password_input {
    width: calc(26.3157894737vw + 115.7894736842px);
  }
}
@media screen and (min-width: 700px) {
  .login_page_container .outer-login_flex_container .name_input,
  .login_page_container .outer-login_flex_container .username_input,
  .login_page_container .outer-login_flex_container .password_input,
  .login_page_container .outer-register_flex_container .name_input,
  .login_page_container .outer-register_flex_container .username_input,
  .login_page_container .outer-register_flex_container .password_input,
  .register_page_container .outer-login_flex_container .name_input,
  .register_page_container .outer-login_flex_container .username_input,
  .register_page_container .outer-login_flex_container .password_input,
  .register_page_container .outer-register_flex_container .name_input,
  .register_page_container .outer-register_flex_container .username_input,
  .register_page_container .outer-register_flex_container .password_input {
    width: 300px;
  }
}

.return_btn {
  position: absolute;
  cursor: pointer;
}
.return_btn {
  top: 10px;
}
@media screen and (min-width: 320px) {
  .return_btn {
    top: calc(13.1578947368vw - 32.1052631579px);
  }
}
@media screen and (min-width: 700px) {
  .return_btn {
    top: 60px;
  }
}
.return_btn {
  left: 10px;
}
@media screen and (min-width: 320px) {
  .return_btn {
    left: calc(7.8947368421vw - 15.2631578947px);
  }
}
@media screen and (min-width: 700px) {
  .return_btn {
    left: 40px;
  }
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

fieldset {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 900px) {
  fieldset {
    margin-bottom: 0px;
  }
}

label {
  margin-bottom: 5px;
}

input,
textarea,
select {
  height: 38px;
  padding-left: 5px;
  color: #c1c2c5;
  background-color: #25262b;
}
input,
textarea,
select {
  width: 300px;
}
@media screen and (min-width: 320px) {
  input,
  textarea,
  select {
    width: calc(26.3157894737vw + 215.7894736842px);
  }
}
@media screen and (min-width: 700px) {
  input,
  textarea,
  select {
    width: 400px;
  }
}

textarea {
  resize: none;
  padding-top: 5px;
}
textarea {
  height: 200px;
}
@media screen and (min-width: 320px) {
  textarea {
    height: calc(26.3157894737vw + 115.7894736842px);
  }
}
@media screen and (min-width: 700px) {
  textarea {
    height: 300px;
  }
}

.edit_task_form_container,
.add_task_form_container,
.viewTask_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 700px;
}
@media (min-width: 900px) {
  .edit_task_form_container,
  .add_task_form_container,
  .viewTask_container {
    min-height: 450px;
  }
}
.edit_task_form_container .addTaskForm,
.edit_task_form_container .editTaskForm,
.edit_task_form_container .viewTask,
.add_task_form_container .addTaskForm,
.add_task_form_container .editTaskForm,
.add_task_form_container .viewTask,
.viewTask_container .addTaskForm,
.viewTask_container .editTaskForm,
.viewTask_container .viewTask {
  width: 90%;
  height: 50vh;
  min-height: 650px;
  flex-direction: column;
}
.edit_task_form_container .addTaskForm section,
.edit_task_form_container .editTaskForm section,
.edit_task_form_container .viewTask section,
.add_task_form_container .addTaskForm section,
.add_task_form_container .editTaskForm section,
.add_task_form_container .viewTask section,
.viewTask_container .addTaskForm section,
.viewTask_container .editTaskForm section,
.viewTask_container .viewTask section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.edit_task_form_container .addTaskForm section .form_btn_group,
.edit_task_form_container .editTaskForm section .form_btn_group,
.edit_task_form_container .viewTask section .form_btn_group,
.add_task_form_container .addTaskForm section .form_btn_group,
.add_task_form_container .editTaskForm section .form_btn_group,
.add_task_form_container .viewTask section .form_btn_group,
.viewTask_container .addTaskForm section .form_btn_group,
.viewTask_container .editTaskForm section .form_btn_group,
.viewTask_container .viewTask section .form_btn_group {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
}
.edit_task_form_container .addTaskForm section .form_btn_group,
.edit_task_form_container .editTaskForm section .form_btn_group,
.edit_task_form_container .viewTask section .form_btn_group,
.add_task_form_container .addTaskForm section .form_btn_group,
.add_task_form_container .editTaskForm section .form_btn_group,
.add_task_form_container .viewTask section .form_btn_group,
.viewTask_container .addTaskForm section .form_btn_group,
.viewTask_container .editTaskForm section .form_btn_group,
.viewTask_container .viewTask section .form_btn_group {
  margin-top: 50px;
}
@media screen and (min-width: 320px) {
  .edit_task_form_container .addTaskForm section .form_btn_group,
  .edit_task_form_container .editTaskForm section .form_btn_group,
  .edit_task_form_container .viewTask section .form_btn_group,
  .add_task_form_container .addTaskForm section .form_btn_group,
  .add_task_form_container .editTaskForm section .form_btn_group,
  .add_task_form_container .viewTask section .form_btn_group,
  .viewTask_container .addTaskForm section .form_btn_group,
  .viewTask_container .editTaskForm section .form_btn_group,
  .viewTask_container .viewTask section .form_btn_group {
    margin-top: calc(-10.4166666667vw + 83.3333333333px);
  }
}
@media screen and (min-width: 800px) {
  .edit_task_form_container .addTaskForm section .form_btn_group,
  .edit_task_form_container .editTaskForm section .form_btn_group,
  .edit_task_form_container .viewTask section .form_btn_group,
  .add_task_form_container .addTaskForm section .form_btn_group,
  .add_task_form_container .editTaskForm section .form_btn_group,
  .add_task_form_container .viewTask section .form_btn_group,
  .viewTask_container .addTaskForm section .form_btn_group,
  .viewTask_container .editTaskForm section .form_btn_group,
  .viewTask_container .viewTask section .form_btn_group {
    margin-top: 0px;
  }
}
.edit_task_form_container .addTaskForm section .form_btn_group Button,
.edit_task_form_container .editTaskForm section .form_btn_group Button,
.edit_task_form_container .viewTask section .form_btn_group Button,
.add_task_form_container .addTaskForm section .form_btn_group Button,
.add_task_form_container .editTaskForm section .form_btn_group Button,
.add_task_form_container .viewTask section .form_btn_group Button,
.viewTask_container .addTaskForm section .form_btn_group Button,
.viewTask_container .editTaskForm section .form_btn_group Button,
.viewTask_container .viewTask section .form_btn_group Button {
  border-radius: 0px;
  margin: 5px 0 0 0;
}
@media (min-width: 900px) {
  .edit_task_form_container .addTaskForm,
  .edit_task_form_container .editTaskForm,
  .edit_task_form_container .viewTask,
  .add_task_form_container .addTaskForm,
  .add_task_form_container .editTaskForm,
  .add_task_form_container .viewTask,
  .viewTask_container .addTaskForm,
  .viewTask_container .editTaskForm,
  .viewTask_container .viewTask {
    flex-direction: row;
    min-height: 425px;
  }
  .edit_task_form_container .addTaskForm section,
  .edit_task_form_container .editTaskForm section,
  .edit_task_form_container .viewTask section,
  .add_task_form_container .addTaskForm section,
  .add_task_form_container .editTaskForm section,
  .add_task_form_container .viewTask section,
  .viewTask_container .addTaskForm section,
  .viewTask_container .editTaskForm section,
  .viewTask_container .viewTask section {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.tasks_list {
  display: table;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 98%;
  max-height: 450px;
  border-spacing: 0;
  border-collapse: collapse;
}
.tasks_list thead tr th {
  padding: 20px 0 20px 5px;
  text-align: left;
}
.tasks_list tbody .tableContent_row:nth-child(odd) {
  transition: all 0.2s ease;
  background-color: #25262b;
}
.tasks_list tbody .tableContent_row:nth-child(odd):hover {
  background-color: #373A40;
}
.tasks_list tbody .tableContent_row:nth-child(even) {
  transition: all 0.2s ease;
}
.tasks_list tbody .tableContent_row:nth-child(even):hover {
  background-color: #373A40;
}
.tasks_list tbody .tableContent_row td {
  padding: 20px 0 20px 5px;
}
.tasks_list .title,
.tasks_list .description,
.tasks_list .category,
.tasks_list .completed,
.tasks_list .viewTask {
  display: table-cell;
}
.tasks_list .viewTask,
.tasks_list .completed {
  text-align: center;
}
.tasks_list .category,
.tasks_list .description,
.tasks_list .completed {
  display: none;
}
@media (min-width: 600px) {
  .tasks_list .description {
    display: table-cell;
  }
}
@media (min-width: 700px) {
  .tasks_list {
    margin-bottom: 0px;
  }
  .tasks_list .completed {
    display: table-cell;
  }
}
@media (min-width: 1000px) {
  .tasks_list {
    margin-bottom: 0px;
  }
  .tasks_list .category {
    display: table-cell;
  }
}
.tasks_list a {
  color: #c1c2c5;
  text-decoration: none;
  max-width: 120px;
  margin: 0 auto;
}

.error_message {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
  background-color: #25262b;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.header {
  height: 50px;
}
@media screen and (min-width: 320px) {
  .header {
    height: calc(6.5789473684vw + 28.9473684211px);
  }
}
@media screen and (min-width: 700px) {
  .header {
    height: 75px;
  }
}
.header {
  padding-left: 10px;
}
@media screen and (min-width: 320px) {
  .header {
    padding-left: calc(2.6315789474vw + 1.5789473684px);
  }
}
@media screen and (min-width: 700px) {
  .header {
    padding-left: 20px;
  }
}
.header {
  padding-right: 10px;
}
@media screen and (min-width: 320px) {
  .header {
    padding-right: calc(2.6315789474vw + 1.5789473684px);
  }
}
@media screen and (min-width: 700px) {
  .header {
    padding-right: 20px;
  }
}
.header .nav-button_group {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #121212;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 500px) {
  .header .nav-button_group {
    position: relative;
    transform: none;
    left: 0;
    width: 300px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
* {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  * {
    font-size: calc(0.5263157895vw + 14.3157894737px);
  }
}
@media screen and (min-width: 700px) {
  * {
    font-size: 18px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #1a1b1e;
  color: #c1c2c5;
}/*# sourceMappingURL=main.css.map */