@import "./functions/colorMap";
@import "./functions/fluidStyles";
@import "./pages/onboarding";
@import "./pages/dashboard";
@import "./partials/profileModal";
@import "./partials/logoutModal";
@import "./partials/buttons";
@import "./partials/forms";
@import "./partials/table";
@import "./partials/header";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    @include fluidType(font-size, 320px, 700px, 16px, 18px);
}

body {
    font-family: "Lato", sans-serif;
    background-color: clr(colorPalette, backgroundBlack);
    color: clr(colorPalette, fadedWhite);
}
