@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-silver text-blue h-screen;
    }

    * {
        @apply outline-blue outline-offset-4 outline-8;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: #edf2f4 #ef233c;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #edf2f4;
}

*::-webkit-scrollbar-thumb {
    background-color: #ef233c;
}
