.carousel{
    position: relative;
    height: 100vh;
    background-color: red;

    & .slide{
       overflow: hidden;
    }

    & .slider_btns{
        position: absolute;
        top: 50px;
        left: 0;
    }
}